<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
    <h1>Welcome to the coffee page</h1>
    <h2>Select your favored roast:</h2>
    <ul>
        <li><a href="/coffee/dark">Dark Roast</a></li>
        <li><a href="/coffee/medium">Medium Roast</a></li>
        <li><a href="/coffee/light">Light Roast</a></li>
    </ul>
    <h2 th:if="${roast}">You selected <span th:text="${roast}"></span></h2>
</body>
</html>