<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>View a Post</title>
</head>
<head th:replace="partials/partials.html :: head ('View One Post')"></head>
<body>
<header th:replace="partials/partials.html :: navbar"></header>


<h3><span th:text="${post.title}"></span></h3>
<p><span th:text="${post.body}"></span></p>
<!--<div>Posted by:<span th:text="${post.user.getUsername()}"></span></div>-->
<div>Email: <span th:text="${post.user.email}"></span> </div>

<br>
<h4>Edit Post Here</h4>
<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
  <input type="hidden" name="id" th:value="${post.id}">
  <label for="title">Title:</label>
  <input type="hidden" th:field="*{id}"/>
  <input type="text" id="title" name="title" th:value="${post.title}">
  <label for="body">Main Text:</label>
  <textarea name="body" id="body" rows="7" cols="30" th:field="*{body}"></textarea><br><br>  <button>Update</button>
</form>
</body>
</html>