<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View a Title</title>
</head>
<head th:replace="partials/partials.html :: head ('View One Post')"></head>
<body>
<header th:replace="partials/partials.html :: navbar"></header>

<h1>Here are all the Funny Post Titles:</h1>

<h4>Post with Funny Tags:</h4>
<!--<form method="post" action="posts/funny"-->
<!--    <h3 th:text="${post.title}"></h3>-->

<!--<h4 th:text="${tag.id[2]}"></h4>-->
<!--<h3 th:text="${post.title}"></h3>-->


<!--<form action="/tags/funny/{name}" method="get">-->
<!--    <input type="hidden" name="funny" id="funny"> th:value="$">-->
<!--</form>-->

<!--<h3><span th:text="${post.}"></span></h3>-->

</body>
</html>
