<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>View a Post</title>
</head>
<head th:replace="partials/partials.html :: head ('View One Post')"></head>
<body>
<header th:replace="partials/partials.html :: navbar"></header>


<h3><span th:text="${post.title}"></span></h3>
<p><span th:text="${post.body}"></span></p>
<!--<div>Posted by:<span th:text="${post.user.getUsername()}"></span></div>-->
<div>Email: <span th:text="${post.user.email}"></span> </div>

<br>
<h4>Edit Post Here</h4>
<form action="/posts/edit" method="post">
  <input type="hidden" name="id" th:value="${post.id}">
  <label for="title"></label>
  <input type="text" id="title" name="title" th:value="${post.title}">
  <label for="body"></label>
  <input style="width: 50%" type="text" id="body" name="body" th:value="${post.body}">
  <button>Update</button>
</form>
</body>
</html>